services:
  ui:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: scroll-down-sports-ui-local
    environment:
      VITE_API_URL: http://localhost:8000
      VITE_APP_VERSION: local
    ports:
      - '5173:80'
    networks:
      - infra_default

networks:
  infra_default:
    external: true

